body {
	font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
		BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
	background-color: #e9ebee;
}

.header {
	background-color: #3b5998;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 150px;
}

.register-button {
	background-color: #42b72a;
}

.content {
	padding:0 150px;
}

.logo {
	font-size: 40px;
	font-weight: bold;
	padding-right:5px;
}
.header-right {
	display: flex;
	align-items: center;
	padding:10px 5px 10px 10px;
}

.register-button{
	padding:5px 10px;
	font-size:12px;
	margin-top:4px;
}
.product {
	display:flex;
	justify-content:space-between;
	width:100%;
}

.product-part {
	margin-top:30px;
	text-align:center;
	width:48%;
	height:440px;
	background-color:#fff;	
}

.img_one {
  width:200px;
  height:200px;
}
.product-button {
	margin-top:50px;
}